<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAMUkYK6ciYMxNhB3DsIiE8LXeW3OpEcQk</string>
	<key>GCM_SENDER_ID</key>
	<string>1038037195735</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bldapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>bldapp-4859a</string>
	<key>STORAGE_BUCKET</key>
	<string>bldapp-4859a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1038037195735:ios:fbd5fd1520c24e0db30992</string>
</dict>
</plist>